---
import Layout from '../layouts/Layout.astro';
import Promo from '../components/Promo'
import CategoryPreview from '../components/CategoryPreview'
import Produk from '../components/Produk'
import ProductQuickOvw from '../components/ProductQuickOvw'
---

<Layout title="Welcome to Astro (on Deno).">
	<main>
		<Promo client:idle/>
		<CategoryPreview client:idle/>
		<Produk client:idle/>
		<ProductQuickOvw client:idle/>
	</main>
</Layout>